<!DOCTYPE html>
<html lang="zh">
	{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<!--<link href="../static/css/style.css" rel="stylesheet" type="text/css" />-->
	<style>
	</style>
</head>
<body>
    <h1>Welcome to HongYing's Webside</h1>
	<h2>ID : B06902074</h2>
    <p id="board">Picture Board<br></p>
    <div id="container">
        <div id="picture">
            <div class="pic">
                {% for picture in random %}
                    <img src={{picture}} width=150 height=150>
                {% endfor %}
                <!-- There is no comment, type something to give some feedback. -->
                <!-- <div> -->
                   <!-- <img src="https://picsum.photos/200/200/?image=408" alt = test> -->
                   <!-- <img src="https://images.unsplash.com/photo-1536228767230-783ad0b61dd9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c89d5a12f9cfc95dcda865d1e971d3a8&auto=format&fit=crop&w=1950&q=80" width = 100 height= 100 alt = test> -->
                <!-- </div> -->
            </div>
        </div>
    <p id="board">Messege Board<br></p>
    <div id="container">
        <div id="content">
            <div class="msg">
                There is no comment, say something to give some feedback. And share some photo with us!
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="nickname">
                <input type="text" name="msg" id="msg" placeholder="say something">
                <input type="submit" id="submit" value="send">
            </form>
            <span id='ps'>Ps : It cannot work now. It is just a template</span>
        </div>
    </div>
</body>

</html>