<!DOCTYPE html>
<html lang="zh">
	{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<!--<link href="../static/css/style.css" rel="stylesheet" type="text/css" />-->
	<style>
	</style>
</head>
<body>
    <h1>Welcome to HongYing's Webside</h1>
	<h2>ID : B06902074</h2>
    <p id="board">Message Board<br></p>
    <div id="container">
        <div id="content">
            <div class="msg">
                There is no comment, type something to give some feedback.
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="nickname">
                <input type="text" name="msg" id="msg" placeholder="say something">
                <input type="submit" id="submit" value="send">
            </form>
            <span id='ps'>Ps : It cannot work now. It is just a template</span>
        </div>
    </div>
</body>

</html>
