<!DOCTYPE html>
<html lang="zh">
	{% load  staticfiles %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>留言板</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<style>
	</style>
</head>
<body>
    <h1>Welcome to HongYing's Webside</h1>
	<h2>ID : B06902074</h2>
    {% if request.user.is_authenticated %}
        <h2>
            <a href="/test/">Message Board</a>
            <a href="/my_space/">My Space</a>
        </h2>
    {% else %}
        <h1>Please login first!!!<br></h1>
        <h1><a href="/login/">Click here for login ~</a></h1>
    {% endif %}   
</body>

</html>